body{
    font-family: "Jacquarda Bastarda 9";
    background-image: url("images/Parchment-Paper-Texture-Old-Structure-Yellow-List-535983.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.holds{
    background-image: url("images/1200px-Lightblue_empty_grid.svg.png");
    background-size: 500px, auto;
}
.jacquarda-bastarda {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}